body{ 
color:blueviolet;
background:black;
font-family: "Chakra Petch", sans-serif;
}
header {
    border-bottom: solid 2px rgb(91, 60, 97);
    padding: 20px;
    font-size: 32px;
    color: rgba(167, 170, 174, 0.596);
}
section{
    background: rgb(97 7 113);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{ 
    margin-right: 5%;  
}

h1{ 
    font-size: 40px ;
}
p{ 
    font-size: 20px;
}

img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }